
<div class="rounded shadow m-4 p-4">
  <div class="flex-container">
    <div>
      <a href="global">
        <img src="https://firebasestorage.googleapis.com/v0/b/cov19-clouds.appspot.com/o/home_logo.jpg?alt=media&token=f83beb7c-9878-4b5b-abbd-74536c520765">
      </a>
    </div>
    <div class="log">
      <app-login></app-login>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer>
    Data source: <a href="https://covid19api.com">Covid19API</a> | <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins CSSE</a>
  </footer>
</div>
